@media screen and (max-width: 1170px) {
    body {
        filter: none;
    }

    body > * {
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    footer {
        height: 32.142857142857146vw;
    }

    h1 {
        font-size: 8.571428571428571vw;
        line-height: 10vw;
    }

    h2 {
        font-size: 3.3333333333333335vw;
        width: 42.61904761904762vw;
    }

    h3 {
        font-size: 5.714285714285714vw;
        line-height: 6.666666666666667vw;
    }

    p {
        font-size: 3.3333333333333335vw;
        line-height: 3.8095238095238098vw;
    }

    .wrap {
        padding: 9.761904761904763vw 8.80952380952381vw;
    }

    .sec1 {
        height: 46.19047619047619vw;
    }
    
    .sec2 {
        height: 72.85714285714285vw;
    }

    .sec3 {
        height: 111.66666666666667vw;
    }

    .sec1-wrap {
        width: 82.38095238095238vw;
        height: 31.19047619047619vw;
    }

    .sec1-right {
        width: 28.57142857142857vw;
        height: 31.19047619047619vw;
        display: flex;
        flex-direction: column;
    }

    .sec1-right > img {
        width: 28.57142857142857vw;
        height: 28.57142857142857vw;
    }

    .sec1-right > span {
        font-size: 2vw;
    }

    .sec2 h3 {
        width: 66.19047619047619vw !important;
    }

    .sec2 p[style="width: 565px;"] {
        width: 80.23809523809524vw !important;
    }

    .sec2 p[style="width: 521px;"] {
        width: 74.04761904761905vw !important;
    }

    .sec2 p[style="width: 561px;"] {
        width: 79.52380952380952vw !important;
    }

    .sec2 p[style="width: 440px;"] {
        width: 62.61904761904762vw !important;
    }

    .sec2>.wrap>* {
        margin-bottom: 2.380952380952381vw;
    }

    .sec3-left {
        width: 100%;
        height: unset;
        margin-bottom: 2.380952380952381vw;
    }

    .sec3-left>h3 {
        margin-bottom: 2.380952380952381vw;
    }

    .sec3-left>p {
        width: 61.1904761904762vw;
    }

    .sec3>.wrap {
        flex-direction: column;
        align-items: center;
    }

    .sec3>.wrap>iframe {
        width: 77.85714285714286vw;
        height: 74.04761904761905vw;
    }

    .foot-left {
        height: 17.38095238095238vw;
    }

    .foot-left img {
        width: 18.333333333333332vw !important;
        height: 9.047619047619047vw !important; 
    }

    .foot-left span {
        font-size: 2.142857142857143vw !important;
        line-height: 2.619047619047619vw !important;
    }

    .foot-right ul li {
        margin-bottom: 1.1904761904761905vw;
        font-size: 2vw !important;
    }

    footer>.wrap {
        padding-bottom: 5vw;
    }
}

@media screen and (max-width: 690px) {
    .h-fg > .h-wrap > img {
        width: 69.52380952380952vw !important;
        height: 34.523809523809526vw !important;
    }
}

@media screen and (max-height: 520px) {
    header, .h-bg-osc, .h-bg-line-wrap, .h-wrap {
        height: 100vh
    }
}

@media screen and (max-width: 420px) {
    header, .h-bg-osc, .h-bg-line-wrap, .h-wrap {
        height: 123.80952380952381vw !important;
    }
}