* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: overlay;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100% !important;
    height: 520px;
    position: relative;
}

header>* {
    position: absolute;
    width: 100%;
    height: 100%;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: Raleway;
}

h1 {
    font-size: 72px;
    line-height: 85px;
}

h3 {
    font-size: 48px;
    line-height: 56px;
}

h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: normal;
    width: 476px;
}

p {
    font-family: Roboto;
    font-size: 24px;
}

body>* {
    width: 1170px;
    background-color: #ffffff;
}

body {
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.10));
}

a {
    color: unset;
}

ol,
ul {
    list-style: none;
    color: #ffffff;
    font-family: Roboto;
}

footer {
    background: #3F3F3F;
    height: 293px;
}

::-webkit-scrollbar {
    width: 15px;
    background: rgb(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    border: 5px solid transparent;
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: content-box;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(20, 20, 20, 0.7);
}

.h-bg {
    background: rgba(63, 63, 63, 0.7);
    backdrop-filter: blur(7px);
}

.h-bg-line {
    width: 100%;
    height: 0px;
    border: 1px dashed rgb(122, 107, 107, 0.7);
}

.h-bg-line-wrap {
    display: flex;
    position: absolute;
    width: 100%;
    height: 520px;
    align-items: center;
}

.h-wrap {
    position: relative;
    height: 520px;
    width: 100%;
    overflow: hidden;
}

.h-bg-osc {
    display: flex;
    position: absolute;
    height: 520px;
    align-items: center;
}

.h-fg>.h-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-bg-mountains {
    background-size: cover;
    background-image: url('../assets/header-bg\ 1.webp');
}

.sec1 {
    height: 520px;
    box-shadow: 0px 2px 0px rgba(146, 146, 146, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1-right {
    width: 259px;
    height: 273px;
}

.sec1-right>img {
    width: 259px;
    height: 259px;
}

.sec1-wrap {
    width: 870px;
    height: 282px;
    display: flex;
    justify-content: space-between;
}

.sec1-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec2>.wrap>* {
    display: flex;
    margin-bottom: 25px;
}

.sec2>.wrap>div[style="text-align: right;"], .sec2>.wrap>div[style="text-align: right; margin-bottom: 0;"] {
    display: flex;
    justify-content: flex-end;
}

.sec2 {
    height: 570px;
    box-shadow: 0px 2px 0px rgba(146, 146, 146, 0.25);
}

.wrap {
    padding: 67px 71px;
}

.sec3>.wrap {
    display: flex;
    justify-content: space-between;
}

.sec3-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 379px;
    height: 165px;
}

.sec3 {
    background: #EAEEF3;
}

.foot-right ul li a:hover {
    text-decoration: underline;
}

.foot-right ul li a {
    text-decoration: none;
}

.foot-right ul li {
    margin-bottom: 14px;
    font-size: 14px;
    text-align: right;
}

footer>.wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 37px;
}

.foot-left {
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}