@font-face {
	font-family: MS PGothic;
	src: url(/fonts/ms-pgothic_copyfonts.com.ttf);
}

@font-face {
	font-family: MS Reference Sans Serif;
	src: url(/fonts/REFSANB.TTF);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: "MS PGothic"
}

h1 {
	font-family: 'MS Reference Sans Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}
h2 {
	font-family: 'MS PGothic';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
}

html {
    display: table;
	overflow: overlay;
    margin: auto;
	background-color: #F6F6F6;
}

body {
    display: table-cell;
	min-height: 100px;
	min-width: 975px;
	background-color: #FFFFFF;
    vertical-align: middle;
}

section {
	padding: 34px 55px; 
}

.classicButtons-small {
	width: 398px;
	justify-content: space-between;
	user-select: none;
}

.classicButtons-small a {
	text-decoration: none;
}

.classicButtons-small a div {
	stroke: 1px #D9D9D9;
	background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);
	border: 1px solid #D9D9D9;
	border-radius: 7px;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.classicButtons-small a div:active {
	background: linear-gradient(180deg, #F6F6F6 0%, #FFFFFF 100%);
}

.classicButtons-small a div i {
	font-size: 20px;
	line-height: 20px;
	color: #000000;
}

.album {
	display:flex;
	flex-direction: column;
}

.album-big img {
	width: 258px;
	height: 258px;
}

.album-big {
	font-size: 20px;
}

.album-small img {
	width: 106px;
	height: 106px;
}

.album-small {
	font-size: 12px;
}

.sec2 * {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sec2 * * {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}